/*Colors used:
Background Color #FFFCF8
Secondary Background Color #FFE6CC
Text Color #00010D
Link Color #6A5164
Link Hover Color #443240
*/

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

.resize {
  max-width: 50%;
  max-height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

  body {
    background-color: #FFFCF8;
    font-family: 'mulish', serif;
    font-size: 16px;
    line-height: 1.5;
    color: #00010D;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'roboto slab', serif;
    line-height: 1.4;
  }

  h1 {
    font-size: 2.5em;
    font-weight: 700;
  }

    h2 {
        font-size: 2.25em;
        font-weight: 700;
    }

    h3 {
        font-size: 1.75em;
        font-weight: 500;
    }

    h4 {
        font-size: 1.5em;
        font-weight: 500;
    }

    p {
      text-align: left;
    }

    a {
      color: #6A5164 ; 
      text-decoration: none;
      transition: 0.4s opacity;
    }

    a:hover,
    a:focus {
      color: #443240;
      text-decoration: underline;
      opacity: 0.5;
    }

    a:active {
      color: #6A5164;
    }

    .button {
      display: inline-block;
      background-color: #6A5164;
      color: #FFFCF8;
      padding: 10px 20px;
      border-radius: 3px;
      border-bottom: 2px solid #443240;
      font-weight: 500;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      transition: 0.4s opacity;
    }

    .button:hover, .button:active {
      cursor: pointer;
      opacity: 0.8;
      text-decoration: none;
      color: #FFFCF8;
    }

    .button.contact {
      background-color: transparent;
      color: #6A5164;
      text-transform: uppercase;
      border: 2px solid #6A5164;
    }

    .button.contact:hover, .button.contact:active {
      background-color: #6A5164;
      color: #FFFCF8;
    }

    .button.process {
      background-color: transparent;
      color: #00010D;
      text-transform: uppercase;
      border: 2px solid #00010D;
      margin: 4px 4px;
      display: inline-block; 
    }

    .button.process:hover, .button.process:active {
      background-color: #00010D;
      color: #FFFCF8;
    }
    
    @keyframes color-change {
      0% {fill: #edc655;}
      50% {fill: #fcffad;}
      100% {fill: #f76414;}
    }

    .sun {
      animation: 4s color-change infinite alternate linear;
    }

    @keyframes cloud-move {
      from {transform: translate(0,50px);}
      to {transform: translate(200px,50px);}
    }

    .cloud-front {
      animation: 30s cloud-move infinite alternate linear;
    } 

    @keyframes cloud-move-reverse {
      from {transform: translate(446px,48px);}
      to {transform: translate(100px, 48px);}
    }

    .cloud-back {
      animation: 34s cloud-move-reverse infinite alternate linear;
    }

/* Layout styling */

header {
  background-color: #FFE6CC;
  padding: 10px 0 4px;
  position: fixed;
  width: 100%;
    background: #FFE6CC; 
    border: solid #BDBDBD 1px; 
    box-shadow: 0 4px 21px rgba(0, 0, 0, 0.5)  ; 
    -webkit-box-shadow: 0 4px 21px rgba(0, 0, 0, 0.5)  ; 
    -moz-box-shadow: 0 4px 21px rgba(0, 0, 0, 0.5)  ; 
}

main {
  padding-top: 93px;
}

.container {
  padding: 0 15px;
}

.logo{
  max-width: 150px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #6A5164;
}

nav ul li a.visited {
  color: #00010D;
}

nav ul li a:hover, nav ul li a:active {
  color: #443240;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0px;
  color: #00010D;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive li  {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 2px solid #CFBBC1;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

#hero {
  background-color: #FFE6CC;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.row {
  margin: 25px 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#projects {
  background-color: #FFFCF8;
  display: inline-block;
  max-width: 1200px;
}

#projects, h2 {
  text-align: center;
}

#projects, h3, p {
  text-align: left; 
}

#contact {
  background-color: #FFE6CC;
  display: inline-block;
  width: 100%;
  margin: 20px 0 0 0;
  text-align: center;
}

h1, h2 {
  text-align: center;
}

#blissbody, h3 {
  text-align: center;
}

#center > p {
  text-align: center;
}

.email {
  margin-top: 20px;
  margin-bottom: 20px;
}

.social {
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.process {
  display: block;
 text-align: center;
}

@media only screen and (min-width: 640px) {

header {
  text-align: unset;
  padding: 20px 0 13px;
}

.logo {
  max-width: 250px;
}

nav {
  width: auto;
  float: right;
  margin-top: 45px;
}

#process {
  margin-top: unset;
  float: unset;
}

nav ul {
  margin: 1em 0;
}

nav ul li {
  display: inline-block;
}

.navtoggle li:not(:last-child) {
  display: inline-block;
}

.navtoggle li:last-child {
  display: none;
}

main {
  padding-top: 170px;
}

body {
  font-size: 18px;
}

.col-md-6 {
  width: 50%;
}

[class*="col-"] {
  float: left;
  padding: 10px 10px;
}

#projects h3 { margin-top: 0; }

}

@media only screen and (min-width: 1024px) {



  .col-lg-5 {
    width: 41.66%;
  }
  
  .col-lg-7 {
    width: 58.33%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; 
  }

}

@media only screen and (min-width: 1440px) {

}

@media only screen and (min-width: 1920px) {

}